@import './vars.less';
@import './mixins.less';

// antd样式
.ant-select,
.ant-input-number {
    width: 100%;
}

.ant-calendar-picker {
    width: 100% !important;
}

.ant-table-wrapper {
    .ant-table table {
        .ant-table-thead > tr > th,
        .ant-table-tbody > tr > td {
            text-align: center;
            background-color: white;
        }
    }

    &.nowrap .ant-table table {
        thead > tr > th:last-child,
        tbody > tr > td:last-child {
            padding: 0 4px;
            white-space: nowrap;
        }
    }

    &.stats .ant-table table {
        tbody > tr:last-child > td {
            font-weight: bold;
            color: red;
        }
    }

    &.mw1200px .ant-table table {
        min-width: 1200px !important;
    }

    &.mw1300px .ant-table table {
        min-width: 1300px !important;
    }
}

.ant-pagination {
    margin: 32px 0 !important;
    text-align: right;
}

.ant-btn.ant-btn-sm {
    margin-right: 4px;
    width: 55px;
    height: 24px;
    .font-styles(12px, normal, 22px, @black, center);
    .box-sizing(border-box);
    background-color: white;

    &.ant-btn-default {
        color: @lightgreen;
        border-color: @lightgreen;

        &:hover {
            color: white;
            background-color: @lightgreen;
        }
    }

    &.ant-btn-danger {
        color: #ff523b;
        border-color: #ff523b;

        &:hover {
            color: white;
            background-color: #ff523b;
        }
    }

    &.ant-btn-default + .ant-btn-danger {
        margin-top: 4px;
    }
}
