@import '../../../less/vars.less';
@import '../../../less/mixins.less';

.register {
    header {
        padding: 4.875rem 0 2.4375rem 2.5rem;

        h1 {
            .font-styles(1.375rem, normal, 1.875rem, @black, left);
        }
    }

    .register-status {
        padding: 0 2.5rem;
        text-align: center;

        img {
            margin-top: 3rem;
        }

        h2 {
            margin: 1.5rem 0;
            .font-styles(1rem, normal, 1.5, @black, center);
        }

        &.success img {
            width: 9.21875rem;
            height: 6.625rem;
        }

        &.failure img {
            width: 10.375rem;
            height: 8.0625rem;
        }

        &.unopen img {
            width: 11.78125rem;
            height: 8.28125rem;
        }
    }

    .field-register {
        padding-top: 4rem !important;
    }

    .field-download {
        padding-top: 1rem !important;
    }

    .register-prompt {
        padding-top: 1.25rem;
        .font-styles(0.875rem, normal, 1.5, @gray, right);
    }
}

#captcha {
    display: none;
}
