@import '../../../less/vars.less';
@import '../../../less/mixins.less';

.modal {
    width: 90%;

    .modal-header {
        padding: 1.75rem 0 1rem;
        .font-styles(1rem, normal, 1.5, @black, center);
    }

    .modal-body {
        padding: 0 2rem 1.875rem;
    }
}
