@import './vars.less';
@import './mixins.less';

// 清除浮动样式
.clearfix {
    *zoom: 1;

    &:after {
        display: block;
        height: 0;
        content: '';
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

// flex布局
.flex {
    display: flex !important;

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }
}

// 显示、消失样式
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

// 段落对齐样式
.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

// 文本颜色样式
.text-gray {
    color: #dadbe0 !important;
}

.text-green {
    color: #00c389 !important;
}

.text-red {
    color: #e3783f !important;
}

.text-orange {
    color: #f7c354 !important;
}

// app样式
#app {
    height: 100%;
    min-height: 100%;
}

// captcha样式
#captcha {
    display: none;
}

// 锁仓宝灰色背景样式
.scb-gray {
    min-height: 100%;
    background-color: #f9f9f9;
}

.scb-blue {
    position: relative;
    z-index: 1;
    min-height: 100%;
    background-color: #f9f9f9;

    &::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 10.5rem;
        content: '';
        background-color: @blue;
    }

    .scb-blue-body {
        position: relative;
        z-index: 2;
        margin: 2.875rem 0.875rem 0;
        padding-bottom: 5rem;
    }

    .scb-blue-footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;

        a {
            display: block;
            height: 3.125rem;
            .font-styles(1rem, normal, 3.125rem, white, center);
            background-color: @blue;
        }
    }
}

// 锁仓宝预留尺寸样式
.scb-reserved {
    padding-bottom: 3.625rem;
}

// 锁仓宝表单样式
.scb-form {
    margin: 0 1rem;
    padding: 1rem 2rem 2rem;
    background-color: white;

    ul li {
        h1 {
            .font-styles(1.25rem, normal, 1.5, @black, left);
        }

        h1,
        h2,
        .van-button.van-button--primary {
            margin-top: 1.5rem;
        }

        h2 {
            .font-styles(1rem, normal, 1.5, @black, left);

            .icon,
            span {
                vertical-align: middle;
            }

            .icon {
                margin-right: 0.5rem;
            }
        }

        p {
            padding: 0.5rem 0;
        }

        .van-cell.van-field {
            padding-right: 0;
            padding-left: 0;

            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                border-bottom: 0.0625rem solid #ebedf0;
                .transform(scaleY(0.5));
                .box-sizing(border-box);
                pointer-events: none;
            }
        }

        .text-gray {
            .font-styles(0.75rem, normal, 1.5, @gray, center);
        }

        .text-orange {
            .font-styles(0.75rem, normal, 1.5, @orange, left);
        }
    }
}

// 锁仓宝文本框样式
.scb-input {
    position: relative;
    display: block;
    width: 100%;
    border: 0.0625rem solid #ddd;
    border-radius: 1.25rem;

    input,
    span {
        display: inline-block;
        height: 2.5rem;
        .font-styles(0.875rem, normal, 2.5rem, @black, left);
        vertical-align: middle;
    }

    &.small input,
    &.small span {
        height: 2rem;
        line-height: 2rem;
    }

    input {
        margin: 0;
        padding: 0;
        width: 85%;
        text-indent: 1.25rem;
        background-color: white;
        border: none;
        border-radius: 1.25rem;
        outline: none;
    }

    span {
        width: 15%;
    }
}

// 锁仓宝灰色分隔线样式
.scb-separator {
    border-top: 0.5rem solid #f9f9f9;
}

// 锁仓宝暂无数据样式
.scb-none {
    padding: 2rem 0;
    .font-styles(0.875rem, normal, 1.5, @gray, center);

    img {
        margin-bottom: 0.5rem;
        width: 6.5rem;
        height: 3.9375rem;
    }
}

// 锁仓宝链接样式
.scb-link {
    .font-styles(0.875rem, normal, 1.5, @light-blue, center);
}

// 锁仓宝边框样式
.scb-border {
    position: relative;

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        border-bottom: 0.0625rem solid #ebedf0;
        .transform(scaleY(0.5));
        .box-sizing(border-box);
        pointer-events: none;
    }
}

// 锁仓宝复制样式
.scb-copy {
    span,
    .icon.icon-copy {
        vertical-align: middle;
    }

    .icon.icon.icon-copy {
        margin-left: 0.25rem;
    }
}