@import './vars.less';
@import './mixins.less';

// 清除浮动样式
.clearfix {
    *zoom: 1;

    &:after {
        display: block;
        height: 0;
        content: '';
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

// flex布局
.flex {
    display: flex !important;

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }
}

// 显示、消失样式
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

// 字段对齐样式
.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

// 边距尺寸样式
.pb4 {
    padding-bottom: 4rem;
}

// 无数据样式
.none {
    padding: 2rem 0;
    .font-styles(0.875rem, normal, 1.5, @gray, center);
}

// 链接样式
.link {
    .font-styles(0.875rem, normal, 1.5, @light-blue, center);
}
