@import './vars.less';
@import './mixins.less';

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;

    &.icon-home,
    &.icon-asset,
    &.icon-mine {
        margin: 0.3rem 0 0.25rem;
        width: 1.3125rem;
        height: 1.3125rem;
    }

    &.icon-home {
        background-image: url('../assets/images/icon/icon-home.png');

        &.active {
            background-image: url('../assets/images/icon/icon-home-active.png');
        }
    }

    &.icon-asset {
        background-image: url('../assets/images/icon/icon-asset.png');

        &.active {
            background-image: url('../assets/images/icon/icon-asset-active.png');
        }
    }

    &.icon-mine {
        background-image: url('../assets/images/icon/icon-mine.png');

        &.active {
            background-image: url('../assets/images/icon/icon-mine-active.png');
        }
    }

    &.icon-info {
        width: 1.1875rem;
        height: 1.21875rem;
        // background-image: url('../assets/images/icon/icon-info.png');
    }

    &.icon-new {
        width: 0.8125rem;
        height: 0.8125rem;
        background-image: url('../assets/images/icon/icon-new.png');
    }

    &.icon-hot {
        width: 0.8125rem;
        height: 0.9375rem;
        background-image: url('../assets/images/icon/icon-hot.png');
    }

    &.icon-visible,
    &.icon-invisible {
        width: 1.375rem;
        height: 1rem;
    }

    &.icon-visible {
        background-image: url('../assets/images/icon/icon-visible.png');
    }

    &.icon-invisible {
        background-image: url('../assets/images/icon/icon-invisible.png');
    }

    &.icon-visible-password,
    &.icon-invisible-password {
        width: 1.25rem;
        height: 0.9375rem;
    }

    &.icon-visible-password {
        background-image: url('../assets/images/icon/icon-visible-password.png');
    }

    &.icon-invisible-password {
        background-image: url('../assets/images/icon/icon-invisible-password.png');
    }

    &.icon-arrow {
        width: 0.875rem;
        height: 0.875rem;
        background-image: url('../assets/images/icon/icon-arrow.png');
    }

    &.icon-team,
    &.icon-invite,
    &.icon-recharge,
    &.icon-withdraw,
    &.icon-security,
    &.icon-help,
    &.icon-message,
    &.icon-setting,
    &.icon-bcb {
        width: 1.375rem;
        height: 1.375rem;
    }

    &.icon-team {
        background-image: url('../assets/images/icon/icon-team.png');
    }

    &.icon-invite {
        background-image: url('../assets/images/icon/icon-invite.png');
    }

    &.icon-recharge {
        background-image: url('../assets/images/icon/icon-recharge.png');
    }

    &.icon-withdraw {
        background-image: url('../assets/images/icon/icon-withdraw.png');
    }

    &.icon-security {
        background-image: url('../assets/images/icon/icon-security.png');
    }

    &.icon-help {
        background-image: url('../assets/images/icon/icon-help.png');
    }

    &.icon-message {
        background-image: url('../assets/images/icon/icon-message.png');
    }

    &.icon-setting {
        background-image: url('../assets/images/icon/icon-setting.png');
    }

    &.icon-bcb {
        background-image: url('../assets/images/icon/icon-bcb.png');
    }

    &.icon-lamp {
        width: 0.75rem;
        height: 0.875rem;
        background-image: url('../assets/images/icon/icon-lamp.png');
    }

    &.icon-rate {
        width: 0.75rem;
        height: 0.875rem;
        background-image: url('../assets/images/icon/icon-rate.png');
    }
}
