@import '../../../less/vars.less';
@import '../../../less/mixins.less';

.operate-guide {
    position: fixed;
    right: 0.875rem;
    bottom: 3.5625rem;
    left: 0.875rem;
    z-index: 999;
    background-color: rgba(57, 129, 255, 0.86);
    border-radius: 1.125rem;

    /deep/ .van-swipe {
        height: 2.25rem;

        .van-swipe__track {
            height: 2.25rem;

            .van-swipe-item {
                width: 100% !important;

                .guide-container {
                    display: flex;
                    padding: 0 0.5rem;

                    > .icon {
                        flex: 0 0 auto;
                        margin-top: 0.625rem;
                    }

                    > .flex-middle {
                        margin: 0 0.25rem;
                        height: 2.25rem;

                        span {
                            .font-styles(0.8125rem, normal, 1, white, left);
                        }
                    }

                    > a {
                        flex: 0 0 auto;
                        text-align: right;

                        .icon,
                        span {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        span {
                            margin-right: 0.25rem;
                            .font-styles(0.75rem, normal, 2.25rem, #ffca7e, left);
                        }
                    }
                }
            }
        }
    }
}
