@import '../../../less/vars.less';
@import '../../../less/mixins.less';

/deep/ .ant-table table {
    thead > tr > th:nth-child(11),
    tbody > tr > td:nth-child(11) {
        padding: 0 8px;
        white-space: nowrap;
    }

    .child-detail {
        color: #68ca8a;
        white-space: nowrap;
    }
}
